<div class="edit_frame">
  <form>
    <div class="edit_form_frame">
      <div class="inner_frame">
        <button type="submit" class="btn_save">Save</button>
        <button class="btn_cancel">Cancel</button>
      </div>
      <div class="form-group inner_frame_input_frame">
        <label for="name">Title</label>
        <input
        type="text"
        id="name"
        class="form-control input_field">
      </div>
      <div class="form-group inner_frame_input_frame">
        <label for="image-url">Image Url</label>
        <input
        type="text"
        id="image-url"
        class="form-control input_field">
      </div>
      <div class="inner_frame_img_frame">
        <div class="img">
          <img>
        </div>
      </div>
      <div class="form-group inner_frame_input_frame">
        <label for="content">Content</label>
        <textarea
        type="text"
        id="content"
        rows="6"
        class="form-control text_field"></textarea>
      </div>
      <div class="inner_frame_type02">
        <input
        type="text"
        class="form-control input_field_small">
        <input
        type="text"
        class="form-control input_field_small">
        <button class="btn_cross">x</button>
      </div>
      <br>
    </div>
  </form>
</div>
<hr>
<br>
<div class="edit_form_frame">
  <div class="form-group inner_frame_type02">
    <input
    type="text"
    class="form-control input_field_small">
    <input
    type="text"
    class="form-control input_field_small">
    <button class="btn_plus">+</button>
  </div>
</div>
