<div class="shopping_list_add_frame">
  <div class="col-xs-12">
    <form id="shopping-list-add" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
      <div class="shopping_list_add_form_frame">
        <div class="form-group shopping_list_add_input_frame">
          <label for="item-name">Name</label>
          <input
            type="text"
            id="item-name"
            required
            class="form-control shopping_list_add_input_name"
            [ngModel] = "item.name"
            name="name">
        </div>

        <div class="form-group shopping_list_add_input_frame">
          <label for="item-amount">Amount</label>
          <input
          type="text"
          id="item-amount"
          required
          class="form-control shopping_list_add_input_amount"
          [ngModel] = "item.amount"
          name="amount">
        </div>
      </div>
      <div class="button_area">
        <div>
          <button class="btn_add" type="submit" *ngIf="isAdd" [disabled]="!f.valid">Add</button>
          <button class="btn_save" type="submit" *ngIf="!isAdd" [disabled]="!f.valid">Save</button>
          <button class="btn_del" type="button" *ngIf="!isAdd" (click)="onDelete()">Delete Item</button>
          <button class="btn_clear" type="button" *ngIf="!isAdd" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
