.ingredient_frame {
  display: flex;
  flex-direction: column;
  font-family: Ubuntu;
  font-size: 13px;
  align-items: center;
  justify-content: space-between;
}

.ingredient_list {
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
  width: 300px;
}

.ingredient_name {
  width: 220px;
  border-right: 1px solid gray;
  text-align: left;
}

.ingredient_amount {
  width: 79px;
  text-align: center;
}

.ingredient_list + .ingredient_list {
  border-top: none;
}
