<div class="recipe_mainframe">
  <div class="recipe_left">
    <!-- <rb-recipe-list (dataListner)="selectedRecipe = $event"></rb-recipe-list> -->
    <rb-recipe-list></rb-recipe-list>
  </div>
  <div class="recipe_right">
    <!-- <rb-recipe-detail [selectedRecipeDetail]="selectedRecipe"></rb-recipe-detail> -->
    <router-outlet></router-outlet>
  </div>
</div>






<!-- <div class="row">
    <div class="col-md-5">
        <div class="inner">
            <rb-recipe-list (recipeSelected)="selectedRecipe = $event"></rb-recipe-list>
        </div>
    </div>
    <div class="col-md-7">
        <div class="inner">
            <rb-recipe-detail [selectedRecipe]="selectedRecipe"></rb-recipe-detail>
        </div>
    </div>
</div> -->
