<!-- <a href="#" class="list-group-item clearfix">
  <div class="pull-0">
    <h4 class="list-group-item-heading">{{recipe.name}}</h4>
    <p class="list-group-item-text">{{recipe.description}}</p>
  </div>
  <div class="pull-12">
      <img class="img-responsive"
           src="{{recipe.imagePath}}"
           style="max-height: 50px;"/>
  </div>
</a> -->
<!-- <a href="#" class="clearfix">
        <div class="row">
            <div class="col-md-10">
                <h5>{{recipe.name}}</h5>
                <p>{{recipe.description}}</p>
            </div>
            <div class="col-md-2">
                <img src="{{recipe.imagePath}}" width="100px">
            </div>
        </div>
</a> -->
<!-- <a href="#" class="list-group-item clearfix">
    <div class="row">
        <div class="pull-left">
            <h5>{{recipe.name}}</h5>
            <p>{{recipe.description}}</p>
        </div>
        <div class="pull-right">
            <img class="img-responsive" src="{{recipe.imagePath}}" width="100px">
        </div>
    </div>
</a> -->
<a href="#" class="list-group-item clearfix">
    <div class="row">
        <div class="col-md-8">
            <h5>{{recipe.name}}</h5>
            <p>{{recipe.description}}</p>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="{{recipe.imagePath}}" width="100px">
        </div>
    </div>
</a>

